{% extends 'base.html' %}

{% block title %} | Rolodex {% endblock %}

{% block content %}

<!-- Add Call Form -->
<form action="{% url 'add_callee' %}">
    <div class="form-row align-items-left justify-content-left p-1 m-1">
        <div class="col mb-1">
            <label class="sr-only">Full Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Callee Full Name" autocomplete="off">
        </div>
        <div class="col-auto mb-1">
            <button class="btn btn-primary btn-block" type="submit">Add</button>
        </div>
    </div>
</form>

<!-- Display calls -->
{% if has_callees %}
{% for callee in callee_list %}

<div class="row">
    <div class="col">
        <h5>{{ callee.name }}</h5>
    </div>
    <div class="col-auto">
        <a href="{% url 'remove_callee' callee_id=callee.id %}" class="card-link" style="color: #8B0000;">X</a>
    </div>


</div>




{% endfor %}

{% else %}
<p></p>
<h5 class="text-center">No callees to display!</h5>
{% endif %}

{% endblock %}


{% block javascript %}

{% endblock %}